/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    display: none;
}


/* Icons */

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-facebook:before {
    content: '\e802';
}

.icon-facebook-squared:before {
    content: '\e800';
}

.icon-twitter:before {
    content: '\e801';
}

.icon-twitter-1:before {
    content: '\e804';
}

.icon-facebook-circled:before {
    content: '\e805';
}

.icon-twitter-circled:before {
    content: '\e806';
}

.icon-facebook-rect:before {
    content: '\e803';
}


/* Base */

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666;
}

h1 {
    font-size: 30px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;
}

h2 {
    color: #bbb;
}

.profile #wrapper {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.profile #header {
    text-align: center;
    position: relative;
}

.profile #avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 20px;
    color: #222;
}

.profile h2 {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
    font-family: 'Fantasque Sans Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

nav.main-nav {
    padding: 20px 20px 0;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}

nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: #5badf0;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
}

nav.main-nav a.cta {
    background: #5badf0;
    color: #fff;
    margin-left: 12px;
}
@media (max-width: 700px) {
  nav.main-nav {
      padding: 20px 10px 0 0;
      margin: 0 auto;
      text-align: right;
      z-index: 100;
  }
  nav.main-nav a {
      top: 8px;
      right: 6px;
      padding: 8px 8px;
      color: #5badf0;
      font-size: 13px;
      line-height: 1.35;
      border-radius: 3px;
  }
}
@media (max-width: 324px) {
    nav.main-nav a.cta {
      display: none;
    }
}

#wrapper {
    margin: 0 auto;    
}

#wrapper.home {
    max-width: 980px;
    margin: 0 auto;
}

.home #avatar {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* Typography */


/*Accent color*/

a, #title, #post-list a:hover, #title:hover {
    text-decoration: none;
    color: #5badf0;
    color: #5694f1;
}

p a {
    color: #5694f1;
}


/*Transitions*/

a, #post-nav a, #post-list a {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-position: outside;
    margin-left: 1.5em;
}

ul>li {
    list-style-type: disc;
}

#post-body {
    padding: 0 2.5rem;
}

#post-body, p {
    line-height: 1.7;
    margin-bottom: 15px;
}

#post-body p > a {
  word-break: break-word;
  white-space: pre-wrap;
}

b, strong {
    font-weight: 500;
    color: #1E2025;
}

em, i {
    font-style: italic;
}

#title {
    display: inline-block;
    line-height: 100%;
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    padding-bottom: 20px;
}

.description {
    float: right;
    color: #aaa;
}

.home h1 {
    font-size: 30px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;
    margin: 20px auto;
}

.home h2 {
    color: #bbb;
}

.post header {
    text-align: center;
    margin-top: 10px;
}

.post h1 {
    color: #222;
    font-family: 'Fantasque Sans Mono';
}

.post h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #111;
}

#post-body h2 {
    font-size: 18pt;
    text-decoration: underline;
}

.post h2.headline {
    font-family: 'Fantasque Sans Mono';
    color: #b2b9be;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
}

.post h2.headline .tags {
    font-family: 'Fantasque Sans Mono';
    color: #b2b9be;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 5px;
    display: block;
    margin-bottom: 20px;
}

#post-list h2 {
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
}

h3, h4, h5 {
    color: #333;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 15px;
    font-weight: bold;
}

h6 {
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 6px;
}

p.small {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    text-align: center;
    margin-top: 20px;
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid #eee;
}

hr {
    display: block;
    border: none;
    height: 1px;
    margin: 15px auto;
    background: #ccc;
}

table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 1.5em;
}

th, td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

table td, td {
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;
}

tr>td {
    border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
    background: #fcfcfc;
}

thead th, th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    border-bottom: 1px solid #dadadc;
    cursor: default;
    white-space: nowrap;
}

img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}


/* Made with Cactus Badge */

#badge {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 48px;
    width: 48px;
}


/*=========================================
Post List
=========================================== */
#post-list li, #archive-list li {
    list-style-type: none;
    margin-right: 1.5em;
}

#post-list li {
    margin-bottom: 25px;
}

#post-list a {
    color: #333;
    display: block;
    font-family: 'Fantasque Sans Mono';
}

#post-list .dates {
    float: right;
    position: relative;
    top: 1px;
    color: #bbb;
}

#post-list-footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 100px;
}

#archive-link {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px 10px 6px;
    box-shadow: 0 0 0 1px hsla(207, 83%, 80%, 1);
}

#archive-link:hover {
    background: #5694f1;
    color: #fff;
    box-shadow: 0 0 0 1px #5694f1;
}

#archive-link span {
    position: relative;
    top: 0;
    font-size: 17px;
}

.footer {
    font-family: 'Fantasque Sans Mono';
}

/* Post Page */

#wrapper {
    max-width: 800px;
    background: #fdfdfd;
    padding: 0 1rem;
    border: 1px solid #ccc;
    min-height: 50%;
    padding-top: 75px;    
}
.post {
    margin: auto;
}

#post-meta {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    color: #444;
    border-bottom: 1px solid #eee;
}

#post-meta div span {
    color: #aaa;
    font-weight: 500;
    display: block;
}

#post-meta div span.dark {
    color: #1E2025;
}

#post-meta div {
    margin: 0 25px 0 0;
    float: left;
}

#sharing {
    float: right;
    margin: -2px;
}

#sharing a {
    font-size: 20px;
    font-size: 23px;
    margin-left: 1px;
    margin-top: 4px;
    color: #d4d4d4;
    display: inline-block;
    vertical-align: middle;
}

#sharing a:hover {
    opacity: 0.8;
}


/* Post Navigation */

#post-nav {
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}

#post-nav span {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    position: relative;
}

#post-nav span.prev {
    float: left;
}

#post-nav span.next {
    float: right;
}

#post-nav span .arrow {
    position: relative;
    padding: 1px;
}

#post-nav span.prev:hover .arrow {
    left: -4px;
}

#post-nav span.next:hover .arrow {
    right: -4px;
}

#post-nav span.prev:hover {
    left: -3px;
}

#post-nav span.next:hover {
    right: -3px;
}


/*
 * Archive
 */

h1.archive {
    margin-bottom: 0px;
}

h2.month {
    width: 100%;
    font-family: 'Fantasque Sans Mono';
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
    margin-bottom: 0;
}

#archive-list a {
    display: block;
    font-family: 'Fantasque Sans Mono';
    color: #333;
}

#archive-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font-family: 'Fantasque Sans Mono';
    color: #bbb;
}

#archive-list li a:hover, #archive-list li:hover .dates {
    color: #5694f1;
}

#post-meta img.avatar {
    height: 36px;
    width: 36px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 20px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}

#post-list.archive.readmore {
    margin-top: 70px;
}
#post-list.archive.readmore li {
    margin-bottom: 0px;
}
#post-list.archive.readmore h3 {
    font-family: 'Fantasque Sans Mono';
    margin-bottom: 30px;
}

#post-list.archive.readmore a {
    font-family: 'Fantasque Sans Mono';
    color: #5694f1;
}

#post-list.archive.readmore a:hover {
    opacity: 0.8;
}

#post-list.archive.readmore .dates {
    font-family: 'Fantasque Sans Mono';
}

#disqus_thread, #ds-thread {
    margin-top: 100px;
}

#sharing a.facebook {
    background: #4361b3;
}

#sharing a.twitter {
    background: #4fafed;
}

#sharing a {
    font-size: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    margin-left: 2px;
}


/*
 * Media Queries
 */

@media screen and (max-width: 540px) {
    #wrapper {
        padding: 20px 20px 20px 20px;
    }
    .post {
        margin: 40px 0;
    }
    .footer {
        margin-top: 60px;
    }
    #post-list, #archive-list {
        margin-top: 0;
    }
    #post-meta {
        margin-top: 60px;
    }
    #title {
        font-size: 17px;
    }
    #post-list .dates {
        display: none;
    }
    #post-list-footer {
        margin-top: 20px;
        padding-top: 40px;
    }
    h1 {
        font-size: 26px;
    }
    .post h2.headline {
        font-size: 13px;
    }
    .post h1 {
        font-size: 24px;
    }
    .post h2 {
        font-size: 20px;
    }
}

.archive {
    margin: 50px auto 50px auto;
    font-size: 16px;
    width: 75%;
    font-family: 'Fantasque Sans Mono'
}

.archive .post-item {
    padding: 10px 0px;
    overflow-x: hidden;
    white-space:nowrap;
}

.archive .post-time {
    display: inline-block;
    width: 60px;
    margin: 0;
    color: #8a8a8a;
}

@media screen and (max-width: 768px) {
    .archive .post-time {
        margin: 5px 0;
        width: auto;
        font-size: 13px;
        display: block;
    }
}

.archive .post-link {
    color: #8a8a8a;
}

.archive .post-item:hover {
    color: #5694f1;
    transition: 0.3s ease-out;
}
.archive .post-item:hover .post-link {
    color: #5694f1;
}

.fa.fa-heart:hover {
    color: #ff3356;
    transition: 0.7s ease-out;
    cursor: pointer;
}


/*
 * Social Links
 */

#social {
    text-align: center;
}

a.symbol {
    color: #aaa;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 0.3rem;
}

a.symbol:hover {
    color: #999;
}

.fab.fa-facebook-square:hover {
    color: #3b5998;
}

.fab.fa-github-square:hover {
    color: #211f1f;
}

.fab.fa-linkedin:hover {
    color: #0077B5;
}

.fab.fa-twitter-square:hover {
    color: #38A1F3;
}

/*
 * Table of contents
 */
#toc {
  line-height: 1em;
  font-size: 1em;
  word-wrap: break-word;
  padding: 8px;
  padding-left: 16px;
  display: block;
  color: #808080;
  background: #fff;
  border: 1px #E4EBF2 solid;
  overflow: hidden;
  font-family: 'Fantasque Sans Mono', 'Menlo', 'Monaco', Courier, monospace;
}
#TableOfContents {
  margin: 1em 0;
  overflow-x: auto;
  word-wrap: normal;
  word-break: break-all;
  white-space: nowrap;
}
#TableOfContents ul {
  list-style-type:none;
  margin: 0;
  padding: 0 .5em;
}
#TableOfContents ul li {
  list-style-type: none;
  line-height: 1.7em;
}
#TableOfContents > ul {
  padding: 0;
}
#TableOfContents > ul > li > ul {
  padding: 0;
}
#TableOfContents a code{
  font-family: 'Fantasque Sans Mono',;
  background-color: #f2f1ef;
  font-size: 11px;
  padding: 2px 3px;
  font-weight: 100;
}


/*
 * Tags page
 */

#wrapper.tags {
    max-width: 768px;
    padding-top: 0;
}
.page-tags {
    text-align: center;
    font-family: 'Fantasque Sans Mono';
    padding: 15px 0;
}
.page-tags ul li {
    margin: 10px 15px;
    display: block;
    font-size: 1.2em;
}
.page-tags ul li a {
    color: #8a8a8a;

}
.page-tags ul li a span {
    font-size: .9em;
}
.page-tags ul li a:hover {
    color: #5694f1;
}

/*
 * CSS Overrides
 */
nav.main-nav {
    text-align: center;
}


@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('../fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
         url('../fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('../fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: normal;
  }

.profile, h1 {
    font-family: 'Fantasque Sans Mono';
}

body {
    background-color: #f2f1ef;
}

.footer p {
    margin: 0;
}

.about {
    text-align: center;
    font-family: 'Fantasque Sans Mono';;
    margin-bottom: 40px;
}

br {
    display: block;
    margin: 5px 0;
}

.about br {
    margin: 0;
}

.about h1{
    margin-top: 20px;
    margin-bottom: 0;
}