	{{ partial "head.html" . }}
	<body>
    <div id="wrapper">
        {{ partial "profile.html" . }}

        <section class="home">
            <div class="about">
                {{ .Content }}
            </div>

            <!-- <h1>Latest Posts</h1>
            {{ partial "post-list.html"  . }}
            {{ partial "pagination.html" . }} -->

            <center><iframe src="https://store.steampowered.com/widget/3454830/" frameborder="0" width="646" height="190"></iframe></center>
            <center><iframe src="https://store.steampowered.com/widget/2862660/" frameborder="0" width="646" height="190"></iframe></center>
        </section>

        {{ partial "footer.html"     . }}

        {{ partial "js.html" . }}
    </div>
    </body>
</html>
